/*This is my 318 CONTACT PAGE using Eric Meyer's reset at the top of my page -- your CSS starts on line 56 */



/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* ---------- Hello, my name is Elena Kline and this is the beginning of my CONTACT PAGE CSS for 201 Digital Publishing March 2022 ------------ */

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background: url(images/WebsiteBackground.jpg)
	center center fixed no-repeat;
	background-size: cover;
	font-family: "helvetica", sans-serif;
	
	
}

.center-top {
    width: 50%;
	max-width: 800px;
	border-radius: 50px;
	padding: 100px;
	padding-top: 80px;
    margin: 50px auto;
 	background: rgba(255, 255, 255, .85); /*this uses opacity of 75% for the background color*/
	text-align: center;
	/*border: 4px dashed white;*/
}

   
#logo {
    margin-bottom: 10px;
	/* margin-top: 30px; */
	/*border: 3px dashed red;*/
	text-align: center;
}

h1 {
	/* FONT-FAMILY GOES HERE CHOOSE FROM ADOBE FONTS OR GOOGLE FONTS */
	font-family: "georgia";
	font-weight: 500;
	font-style: italic;
	font-size: 20px;
	color:  rgba(190, 143, 111);
    margin: 15px;
	padding-top: 20px;
	/* margin-bottom: px; */
}

h2 {
	/* FONT-FAMILY GOES HERE CHOOSE FROM ADOBE FONTS OR GOOGLE FONTS */
   font-family: "georgia";
	font-weight: 500; 
   font-style: italic;
   font-size: 20px;
   line-height: 1.4;
   color: rgb(190, 143, 111);
   /* margin: 0px auto 25px auto; */
	margin: 15px;
   /* padding-top: 20px; */
}

h3{
	font-family: "georgia";
	font-weight: 400;
	font-style: normal;
	font-size: 16px;
    line-height: 1.6;
	padding: 10px;
	padding-top: 20px;
	padding-left: 15%;
	padding-right: 15%;
    color: rgb(190, 143, 111);
}

p {
	/* FONT-FAMILY GOES HERE CHOOSE FROM ADOBE FONTS OR GOOGLE FONTS */		;
	font-weight: 400; 
	font-style: normal;
	font-size: 14px;
    line-height: 1.6;
	padding: 10px;
	padding-left: 15%;
	padding-right: 15%;
    color: rgba(142, 143, 145);
}

nav{
	font-weight: 200; 
	font-style: normal;
	font-size: 0.75em;
	width: 100%;
	margin: 0 auto;
	margin-top: 40px;
	/* padding: 20px 0;
	padding-top: 40px; */
    /*border: rgb(167, 167, 167);*/
	/* border-width: 3px 0; */
	/*margin-top: 2em;*/
}

nav ul{
	/* width: 100%; */
	list-style: none;
	text-align: center;
}

nav ul li{
	/* width: 20%;
	float: left; */
	display: inline-block;
}

nav ul li a{
	display: block;
	padding: 15px;
	padding-left: 30px;
	padding-right: 30px;
	background-color: rgb(153, 171, 186);
	border-radius: 25px;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: white;
	text-decoration: none;
	/* font-weight: bold; */
	margin: 20px;
}

nav ul li a:hover{
	/* color: rgb(229, 154, 94); */
	background-color: rgb(229, 154, 94);
}
    
    
    

